:deep(.van-dialog) {
    --van-dialog-width: 322px;
  }
  .send-link {
    font-size: 14px;
    .link-info {
      .send-link {
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        margin: 77px 0 20px;
      }
      p {
        line-height: 17px;
        font-size: 12px;
        margin: 0;
      }
      .tit2 {
        margin-bottom: 20px;
      }
      .tit3 {
        margin-bottom: 25px;
      }
      a {
        color: #037cd6;
        line-height: 17px;
        font-size: 12px;
      }
    }
    .btn-groups {
      padding: 0 25px 66px;
      button {
        margin-bottom: 14px;
      }
    }
    .code-box {
      padding: 16px 0 23px;
      .code-box-tit {
        line-height: 20px;
        font-size: 13px;
        margin-bottom: 12px;
      }
      &-con {
        width: 263px;
        height: 263px;
        border-radius: 4px;
      }
      .qr-code {
        width: 230px;
        height: 230px;
        background: #f1f1f1;
      }
    }
    .close-btn {
      font-size: 20px;
      color: #037dd6;
      margin-left: 12px;
    }
  }