@import "./var.scss";

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.center-h {
    justify-content: center;
  }

  &.center-v {
    align-items: center;
  }
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.left {
    justify-content: left;
  }
  .flex-none {
    flex: none;
  }
}
// flex 
@for $i from 1 through 12 {
  // 12
  @for $i from 1 through 12 {
    .flex-#{$i} {
      flex: #{$i};
    }
  }

  /**
   * font-size 10-30 
   * f-20 font-size:20px; 
   */
  @for $i from 5 through 15 {
    .f-#{$i * 2} {
      font-size: #{$i * 2}px;
    }
  }


/**
   * line-height height 10-30 
   * lh-20 line-height:20px; 
   */
   @for $i from 5 through 15 {
    .lh-#{$i * 2} {
      line-height: #{$i * 2}px;
    }
    .h-#{$i * 2} {
      height: #{$i * 2}px;
    }
  }

  /**
   * padding  margin  4-30
   *  m-20  margin:20px;
   *  ml-20  margin-left:20px;
   *  p-20  padding:20px;
   *  pl-20  padding-left:20px; ...
   * 
   */
  @for $i from 2 through 15 {
    .m-#{$i * 2} {
      margin: #{$i * 2}px;
    }
    .mr-#{$i * 2} {
      margin-right: #{$i * 2}px;
    }
    .ml-#{$i * 2} {
      margin-left: #{$i * 2}px;
    }
    .mt-#{$i * 2} {
      margin-top: #{$i * 2}px;
    }
    .mb-#{$i * 2} {
      margin-bottom: #{$i * 2}px;
    }
    .p-#{$i * 2} {
      padding: #{$i * 2}px;
    }
    .pr-#{$i * 2} {
      padding-right: #{$i * 2}px;
    }
    .pl-#{$i * 2} {
      padding-left: #{$i * 2}px;
    }
    .pt-#{$i * 2} {
      padding-top: #{$i * 2}px;
    }
    .pb-#{$i * 2} {
      padding-bottom: #{$i * 2}px;
    }
  }

  //text composition
  .text {
    &-left {
      text-align: left;
    }
    &-right {
      text-align: right;
    }
    &-center {
      text-align: center;
    }
    // More than one row of ellipses
    &-overflow {
      overflow: hidden;
      text-overflow: ellipsis;
      &.line1 {
        white-space: nowrap;
      }
      // More than two lines of ellipsis
      &.line2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        white-space: normal !important;
      }
    }
      &-normal {
        font-weight: normal;
      }
      &-bold {
        font-weight: bold;
      }
      &-bolder {
        font-weight: bolder;
      }
      &-lighter {
        font-weight: lighter;
      }
  }

  // position
  .position {
    &.fixed {
      position: fixed;
    }
    &.relative {
      position: relative;
    }
    &.absolute {
      position: absolute;
    }
    &.sticky {
      position: sticky;
    }
  }

  .m-center {
    // width: calc(45% - 90px);
    width:740px;
    margin: 0 auto;
  }
  // position left right top bottom
  @for $i from 0 through 20 {
    .left-#{ $i * 2 } {
      left: #{$i * 2}px;
    }
    .right-#{ $i * 2 } {
      right: #{$i * 2}px;
    }
    .top-#{ $i * 2 } {
      top: #{$i * 2}px;
    }
    .bottom-#{ $i * 2 } {
      bottom: #{$i * 2}px;
    }
  }
}

