
.pay-success {
  text-align: center;
  font-size: 20px;
  color: #9F54BA;
}
.code,.nav-icon {
  width: 56.69px;
}
.circle-loading {
  width: 100px;
  height: 100px;
}

.circle-success-text {
  font-size: 16px;
  color: #9F54BA;
}

.to-exchanges {
  a {
    color: #9F54BA;
    font-size: 12px;
    display: inline-block;
    text-decoration: underline;
  }

  height: 20px;
}

.nav-header {
  height: 48PX;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(135 134 134 / 10%);

  &.paddingTop {
    padding-top: 12px;
  }

  .nav-header-con {
    width: 100%;
    width: -webkit-fill-available;
  }

  .active {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #9F54BA;
    margin-right: 4px;
  }

  .title {

    &-big {
      font-size: 16px;
      line-height: 17px;
      // font-weight: bold;
    }

    &-small {
      color: rgba(132, 140, 150, 1);
      font-size: 9px;
    }
  }

  .nav-icon {
    padding: 0 15px;
    .icon-box {
      width: 15px;
      height: 20px;

      i {
        color: #9F54BA;
        font-size: 16px;
      }
    }
  }
}

.slider-con {
  &.isExchange {
    .slider-bg {
      background: #9F54BA;
      color: #fff;
      .addrName,.account-address ,.account-amount, i,.company-name{
        color: #fff !important;
      }
    }
  }

  .slider-bg {
    .company {
      display: flex;

      .company-logo {
        width: 24px;
        height: 24px;
        line-height: 16px;
        border-radius: 50%;
        line-height: 16px;

        .compy_img {
          object-fit: contain;
          width: 20px;
        }
      }

      .company-name {
        font-size: 12px;
        color: #000;
        font-weight: 700;
        line-height: 24px;
        margin-left: 2px;
      }
    }

    padding:32px 0 14px 16px;
    background: rgba(241, 243, 244, 1);

    .slider-top {
      font-size: 12px;
      line-height: 16px;

      .circle-icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #ccc;
        margin-right: 10px;
      }
    }

    .user-img {
      margin: 16px 0 7px;
      &-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #9F54BA;
        background: rgba(234, 234, 234, 1);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .account {
      height: 18px;
      font-size: 20px;
      margin-top: 7px;
    }

    .account-amount {
      font-size: 16px;
      line-height: 15px;
      margin-top: 20px;
      font-weight: bold;
    }

    .account-address {
      line-height: 15px;
      font-size: 12px;
      color: rgba(121, 121, 121, 1);
      letter-spacing: -0.7px;
    }

    .account-import-btn {
      .import-btn {
        border-radius: 25px;
        line-height: 20px;
        border: 1px solid rgba(149, 156, 165, 1);
        width: 80px;
        font-size: 9px;
        margin-top: 10px;
        color: rgba(121, 121, 121, 1);
      }
    }
  }

  .slider-bottom {
    .send-add-groups {
      padding: 15px;

      .van-button {
        width: 110px;
      }
    }

    .setting-list {
      margin-top: 20px;
      .place-icon {
        display: inline-block;
        width: 15px;
        margin-right: 14px;
      }

      .setting-btn {
        padding: 0 12px 0 15px;
        font-size: 15px;
        line-height: 39px;
        color: rgba(133, 141, 150, 1);
        transition: ease .2s;
        &:hover {
          color: #9F54BA;
          background: #F8F3F9;
          i {
            color: #9F54BA;
          }
        }
        i {
          display: inline-block;
          font-size: 17px;
          width: 27px;
        }

        &.active {
          background: #E4E7E8;
          border-top-right-radius: 19px;
          border-bottom-right-radius: 19px;
          color: #9F54BA;
        }
        span {
          word-break: keep-all;
        }
      }

      .setting-btn-img-a {
        width: 15px;
        margin-right: 15px;
      }

      .setting-btn-img-b {
        width: 17px;
        margin-right: 15px;
      }

      .title-active {
        color: #9F54BA;
      }

      .setting-btn-img-i {
        // margin-left: 33px;
        float: right;
      }

      .setting-btn-img-i-active {
        // margin-left: 13px;
        float: right;
        color: #9F54BA;
      }

      .send {
        line-height: 25px;
        margin-left: 45px;
        font-size: 12px;
      }

      .sends {
        color: #858D96;
      }

      .sends-active {
        color: #9F54BA !important;
      }
    }
  }

}

.sheet-bar {
  height: 26px;

  &-con {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: rgba($color: #000, $alpha: 0.3);
  }
}


.toggle-network {
  &-title {
    font-size: 15px;
    line-height: 21px;
    padding: 14px 0;
  }
}

.other-list {
  &-tit {
    padding: 0 18px;
    font-size: 12px;
    line-height: 40px;
  }

  &-box {
    max-height: 200px;
    overflow-y: scroll;
  }
}

.right-img {
  width: 18px;
  height: 18px;
  margin-top: -2px;
}
.van-sticky--fixed {
  z-index: 10;
}



  .tag-list {
    margin-left: 5px;
    &.slider {
      .tag-user {
        min-width: 30px;
        width: auto;
  
        .user {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          position: absolute;
          overflow: hidden;
          left: -1px;
          top: 0px;
  
          i {
            font-size: 12px;
          }
  
          .icon-Add {
            font-size: 14px;
          }
        }
  
        .tag-label {
          line-height: 18px;
          border-radius: 9px;
          padding-left: 18px;
  
          span {
            font-size: 12PX;
          }
        }
  
      }
  
  
    }
  
    .tag-user {
      width: 20px;
      height: 20px;
  
      .user {
        width: 20px;
        height: 20px;
        border-radius: 50%;
  
        i {
          font-size: 12px;
        }
  
        .icon-Add {
          font-size: 13px;
        }
      }
  
      .tag-label {
        line-height: 16px;
        border-radius: 8px;
        padding-left: 17px;
        padding-right: 5px;
  
        span {
          font-size: 12px;
          transform-origin: center center;
          display: inline-block;
          line-height: 18px;
          height: 18px;
        }
      }
  
      &.type1 {
  
        // green
        .user,
        .tag-label {
          background: linear-gradient(270deg, #93EBAD 0%, #52E374 100%);
        }
      }
  
      &.type2 {
        color:#fff;
        // orange
        .user,
        .tag-label {
          background: linear-gradient(90deg, #D9B560 0%, #D3E492 100%);
        }
      }
  
      &.type3 {
  
        // exchange
        .user,
        .tag-label {
          background: linear-gradient(270deg, #BB68D9 0%, #b139dd 100%);
        }
      }
  
    }
  
  }
  

@media screen and (max-width:750px) {
  .nav-header-slider-box {
    width: 75%;
  }
}
@media screen and (min-width:750px) {
  .nav-header-slider-box {
    width: 400px;
  }
}